/* Base Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

/* Theme Variables - Light (default) */
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --card-bg: #f5f5f5;
  --btn-border: #ccc;
}

/* Dark Theme Overrides */
.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
}


/* Apply Theme */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

/* Reusable Button Style */
.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid var(--btn-border);
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s;
}

.app-container {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

.theme-toggle-btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #4f46e5; /* Indigo */
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #3730a3; /* Darker Indigo */
}

